.journey {
  display: flex;
  justify-content: space-between;
}

.journey-switch {
  padding: 0 8px;
}

.journey-station,
.journey-station input {
  flex: 1;
  box-sizing: border-box;
  width: 100%;
}
