html,
body {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  padding: 16px;
  width: 600px;
  border: 1px solid #000;
}

.complete {
  text-decoration: line-through;
}
